*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;

}
html,body{
    width:100%;
    height:100%;
}
h1{
    position: absolute;
    top:35%;
    left: 10%;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgb(93, 93, 241),1px 1px 20px rgb(24, 24, 136);
}
#cover{
    width:100%;
    height:100%;
    background: radial-gradient(rgb(144, 217, 235),rgb(23, 168, 156),rgb(60, 60, 218));
}
.box{
    width:280px;
    height:300px;
    background-color:rgb(53, 53, 163);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: all ease-out 1s;
   box-shadow: -5px 0 10px rgba(0, 0, 0, 0.479),5px 0 20px rgba(0, 0, 0, 0.486),0 -5px 20px rgba(0, 0, 0, 0.486),0 5px 20px rgba(0, 0, 0, 0.486);
}
.triangle{
    height:100%;
    width: 0;
    border-bottom: 20px solid transparent;
	border-left: 260px solid rgb(223, 87, 143);
	border-top: 20px solid transparent;
}
#circle{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color:rgb(98, 123, 194);
    position: absolute;
    top:50%;
    right:-100px;
    transform: translate(-50%,-50%);
}
.cards{
    width:100%;
    height: 100%;
    display: flex;
    margin: 0;
}
.card{
    width:33.33%;
    height: 100%;
    
}
.card1{
    background-color:rgb(76, 76, 199);
}
.card2{
    background-color: rgb(28, 108, 184);
}
.card3{
    background-color: royalblue;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.img1{
    background-image: url('kartik2.jpg');
}
.img2{
    background-image: url('kartik4.jpg');
}
.img3{
    background-image: url('kartik6.jpg');
}
span{
    color: tomato;
    margin-left: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
}
#cards h2{
    margin-left: 15%;
    letter-spacing: 5px;
}
.hide{
    display: none;
}
.hidebox{
    width:560px;
}
.hideh{
    display: none;
}